header {
  width: 100%;
  height: 60px;
  background-color: #000;
  nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    img {
      display: inline-block;
      cursor: pointer;
    }
    a:not(:first-of-type) {
      color: #b5b5b5;
      text-decoration: none;
      display: inline-block;
      width: 80px;
      text-align: center;
      line-height: 60px;
      &:hover,
      &:active {
        color: #ffffff;
      }
    }
  }
}

footer {
  background: #000;
  height: 130px;
  padding-top: 70px;
  text-align: center;
  p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
  }
  .footerDiv {
    margin-bottom: 10px;
  }
}
